<div class="login-container">
  <div class="login-card">
    <div class="image-container">
      <div class="image-wrapper">
        <div class="image-background"></div>
        <img src="/assets/placeholder.svg" alt="Person studying" class="study-image">
      </div>
      <div class="tags">
        <span class="tag tag-story">STORY</span>
        <span class="tag tag-literature">LITERATURE</span>
      </div>
    </div>
    <div class="form-container">
      <h1>ONLINE EDUCATION</h1>
      <p class="subtitle">Lorem ipsum dolor sit amet ipsum dolor</p>
      <form (ngSubmit)="onSubmit()" class="form">
        <input
          type="text"
          placeholder="Username"
          [(ngModel)]="username"
          name="username"
          class="input-field"
        >
        <input
          type="password"
          placeholder="Password"
          [(ngModel)]="password"
          name="password"
          class="input-field"
        >
        <div class="forgot-password">
          <a href="#">Forgot Password?</a>
        </div>
        <button type="submit" class="submit-button">Sign in</button>
      </form>
      <p class="footer-text">
        Lorem ipsum dolor sit amet ipsum dolor
      </p>
    </div>
  </div>
</div>