<div *ngIf="data.modo === 'editar'"> 
    <div mat-dialog-content>
      <form [formGroup]="profesorForm">
        <mat-form-field>
          <input matInput formControlName="nombre" placeholder="Nombre">
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="apellido" placeholder="Apellido">
          </mat-form-field>


          <mat-form-field>
            <input matInput formControlName="email" placeholder="Email">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Selecciona una opción</mat-label>
            <mat-select formControlName="curso">
              <mat-option *ngFor="let opcion of cursos" [value]="opcion.id">
                {{ opcion.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        
          
       
      </form>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()" class="btn-cancelar">Cancelar</button>
      <button mat-button (click)="onSubmitEdit()" cdkFocusInitial class="btn-guardar">Guardar</button>
    </div>
  </div>


  <!-- ---------------------------------------DIALOG DE AGREGAR ESTUDIANTE--------------------------------------------- -->


  <div *ngIf="data.modo=='agregar'">
    <div mat-dialog-content>
      <form [formGroup]="profesorForm">
        <mat-form-field>
            <input matInput formControlName="nombre" placeholder="Nombre">
          </mat-form-field>
  
          <mat-form-field>
              <input matInput formControlName="apellido" placeholder="Apellido">
            </mat-form-field>
  
            <mat-form-field>
              <input matInput formControlName="email" placeholder="Email">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Selecciona una opción</mat-label>
              <mat-select formControlName="curso">
                <mat-option *ngFor="let opcion of cursos" [value]="opcion.id">
                  {{ opcion.nombre }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          


            </form>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()" class="btn-cancelar">Cancelar</button>
      <button mat-button (click)="onSubmit()" cdkFocusInitial class="btn-guardar">Guardar</button>
    </div>
  </div>