<div class="container">
    <h1>DevMinds</h1>
    <p>Bienvenido/a a tu espacio de gestión de la formación</p>
    
  </div>

  <mat-grid-list [cols]="breakpoint" rowHeight="350px" (window:resize)="onResize($event)">
    @for (curso of cursos; track curso.id) {
      <mat-grid-tile>
        <mat-card class="curso-card" 
                  (mouseenter)="curso.mostrarDescripcion = true" 
                  (mouseleave)="curso.mostrarDescripcion = false">
          <img mat-card-image [src]="curso.imagenUrl" [alt]="curso.nombre">
          <mat-card-content>
            <h3 class="mat-h2">{{ curso.nombre }}</h3>
            <div [@descripcionEstado]="curso.mostrarDescripcion ? 'mostrar' : 'ocultar'" class="descripcion-container">
              <p>{{ curso.descripcion }}</p>
              <button mat-raised-button color="primary" class="inscribirse-btn">
                Inscribirse
              </button>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    }
  </mat-grid-list>