<h2 mat-dialog-title>Registro de Usuario</h2>
    <mat-dialog-content>
      <form [formGroup]="registroForm">
        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="nombre">
          @if (registroForm.get('nombre')?.invalid && (registroForm.get('nombre')?.dirty || registroForm.get('nombre')?.touched)) {
            <mat-error>El nombre es requerido y debe tener al menos 2 caracteres.</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Apellido</mat-label>
          <input matInput formControlName="apellido">
          @if (registroForm.get('apellido')?.invalid && (registroForm.get('apellido')?.dirty || registroForm.get('apellido')?.touched)) {
            <mat-error>El apellido es requerido y debe tener al menos 2 caracteres.</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email">
          @if (registroForm.get('email')?.invalid && (registroForm.get('email')?.dirty || registroForm.get('email')?.touched)) {
            <mat-error>Por favor, ingrese un email válido.</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input matInput formControlName="password" type="password">
          @if (registroForm.get('password')?.invalid && (registroForm.get('password')?.dirty || registroForm.get('password')?.touched)) {
            <mat-error>La contraseña debe tener al menos 6 caracteres.</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Rol</mat-label>
          <mat-select formControlName="rol">
            <mat-option value="2">Estudiante</mat-option>
            <mat-option value="1">Administrador</mat-option>
          </mat-select>
          @if (registroForm.get('rol')?.invalid && (registroForm.get('role')?.dirty || registroForm.get('rol')?.touched)) {
            <mat-error>Por favor, seleccione un rol.</mat-error>
          }
        </mat-form-field>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button (click)="onCancel()">Cancelar</button>
      <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="registroForm.invalid">Registrarse</button>
    </mat-dialog-actions>